body {
    position: absolute;
    margin: 0px;
    background-color: #e8f0fc;
    min-width: 800px;
    width: 100%;
    height: 100%;
    overflow-x: hidden;
    font-family: sans-serif;
}
#heading {
    position: relative;
    background-color: #0b2b5b;
    border-bottom: 5px solid #8ab2f2;
    height: 7%;
    padding-top: 15px;
    font-size: 36px;
    font-weight: bold;
    text-align: center;
    color: white;
    width: 100%;
    margin: auto;
}

.container {
    position: relative;
    background-color: white;
    border: 5px solid #8ab2f2;
    text-align: center;
    font-size: 24px;
    padding: 10px;
    overflow: auto;
}

#instructions {
    width: 85%;
    height: 35%;
    margin: auto;
}
/* File selection/file creation divs container */
#choose_file {
    width: 85%;
    height: 35%;
    margin: auto;
}
/* File selection form container */
#choose{
    height: 85%;
    float: left;
    width: 45%;
}
/* Available File list */
#choose_list{
    margin: auto;
    width: 75%;
    height: 130px;
    overflow: auto;
    background-color: #f2f2f2;
}
/* File creation form container */
#make {
    float: right;
    height: 85%;
    width: 45%;
}

#footer {
    position: relative;
    background-color: #0b2b5b;
    border-top: 5px solid #8ab2f2;
    text-align: center;
    padding-top: 5px;
    height: 3%;
}




