body{
    position: absolute;
}
#heading {
    text-decoration: underline;
    font-size: 35px;
    text-align: center;
}
#instructions {
    padding: 5px;
    margin: auto;
    width: 75%
}
/* File selection/file creation divs container */
#choose_file {
    position: absolute;
    float: left;
    width: 100%;
}
/* File selection form container */
#choose{
    height: 100%;
    float: left;
}
/* Available File list */
#choose_list{
    margin: auto;
    width: 75%;
    height: 130px;
    overflow: auto;
    background-color: white;
}
/* File creation form container */
#make {
    float: right;
}




