/* Container for completed tasks and unassigned tasks divs */
#storage{
    width: 100%;
    height: 200px;
}
/* container and table for complete tasks */
#Completed{
    float: right;
    height: 90%;
    overflow: auto;
}
/* container and table for unassigned tasks */
#Unplaced{
    float: left;
    height: 90%;
    overflow: auto;
}
.stored_task{
    background-color: #8ab2f2;
}
