<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Effort-Impact V2</title>
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles/EI_general.css">
    <link rel="stylesheet" href="/static/styles/EI_content.css">
    <link rel="stylesheet" href="/static/styles/EI_storage.css">
</head>
<body>
    <div id="Content">
        <div id="scatterplot" class="container" ondrop="drop_chart(event)" ondragover="allowDrop(event)">
            <script>
                var result = {{ result|tojson|safe }};
                var dl_colors = {{ dl_colors|tojson|safe }};
                var sj_colors = {{ sj_colors|tojson|safe }};
                var dp_colors = {{ dp_colors|tojson|safe }};
                var y_raw = {{ y|tojson|safe }};
                var x_raw = {{ x|tojson|safe }};
                var title = {{ name|tojson }};
                var fields = {{ fields|tojson|safe }};
                var filename = {{ file|tojson|safe }};
            </script>
            <script src="/static/EI_chart.js"></script>
            <script src="/static/EI_chart_events.js"></script>
        </div>
        <div id="Info" class="container">
            <div id="Instructions" class="info_div">
                <form action="/index" method="get" id="logout">
                    <button type="submit">Logout</button>
                </form>
                <h1>Controls</h1>
                <h2>Hover with the mouse</h2>
                <p>Hover over squares in the graph to view their task information. If using the Deadline, Subject, or Department field, hover
                over the color scale to see the corresponding values.</p>
                <h2>Click with the mouse</h2>
                <p>Click a square in the graph to bring up a form to change a certain field of the corresponding task.
                Double-click anywhere on the graph to create a new square and submit the form that appears to add it.
                If your sheet has both Deadline, Subject, or Department clicking the color scale to change scales.</p>
                <h2>Drag with the mouse</h2>
                <p>Click, hold, and drag a square anywhere on the graph to change its position. Click, hold, and drag
                a task in the Completed or Unassigned list to move it from one to the other or onto the graph.</p>
                <h2>Press the Enter or Delete button</h2>
                <p>Press the Enter button to display each square's id and a table of the corresponding task
                names/descriptions. When editing a square, the Delete button can be pressed to delete the square and all
                of its information.</p>
                <h2>Press Ctrl + C or Ctrl + U</h2>
                <p>When editing a square, press Ctrl + C to move the square's information to the Completed section and
                remove the square from the graph; press Ctrl + U to move the square's information to the Unassigned section
                and remove the square from the graph.</p>
            </div>
            <div id="task_div" class="info_div">
                    <table id="task_table">
                    </table>
            </div>
            <div id="id_div" class="info_div">
                <form>
                    <input id="Task_check" type="radio">Task
                    <input id="Desc_check" type="radio"> Description
                </form>
                <table id="id_table">
                </table>
            </div>
            <div id="New" class="info_div">
                <form action="/new/{{ file }}" method="post" id="form">
                    <h2>New Task Form</h2>
                    <br>
                    <div id="input">
                        Task: <input type="text" name="Task" required><br><br>
                        Description: <textarea id="desc" name="Description" required>None</textarea><br><br>
                    </div><br>
                    <button type="submit">Submit to me!</button><button type="button" id="HideNew">Go back</button> <br>
                    <br>
                </form>
            </div>

            <div id="Update" class="info_div">
                <form action="/update/{{ file }}" method="post" id="form2">
                    <h2>Change Form</h2>
                    <h3>Press the Ctrl button to delete this task!</h3>
                    <div id="inputs">
                        <br>
                        Task ID #: <input type="number" name="id" id="id" readonly><br><br>
                        <label id="field-label">Field to be Changed: </label>
                        <input type="radio" value="Task" name="Field" onclick="change_type('text')" checked>Task
                        <input type="radio" value="Description" name="Field" onclick="change_type('text')">Description
                        <br id="before"><br>
                        <label>Content</label> <input type="text" id="change" name="Content" required><br><br>
                    </div>
                    <br>
                    <br>
                    <button type="submit">Transform!</button><button type="button" id="HideUpdate">Go back</button> <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div id="storage">
        <div id="Unplaced" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Unassigned</h2>
            {% for task2 in unplaced %}
            <p id="Unplaced-{{ unplaced.index(task2) }}" draggable="true" ondragstart="drag(event)" class="stored_task">{{ task2 }}</p><br>
            {% endfor %}
        </div>
        <div id="Completed" class="container" ondrop="drop(event)" ondragover="allowDrop(event)">
            <h2>Completed</h2>
            {% for task in completed %}
            <p id="Completed-{{ completed.index(task) }}" draggable="true" ondragstart="drag(event)" class="stored_task">{{ task }}</p>
            {% endfor %}
        </div>
    </div>
    <script>

        // Drag and Drop

        function allowDrop(ev) {
          ev.preventDefault();
        }

        function drag(ev) {
          ev.dataTransfer.setData("text", ev.target.id);
        }

        function drop(ev) {
          ev.preventDefault();
          var data = ev.dataTransfer.getData("text");
          ev.target.appendChild(document.getElementById(data));
          var filename = {{ file|tojson|safe }};
          $.ajax({
            url: "/move/" + filename,
            data: { "Data": data, "Dest": ev.target.id },
            success: function () {
                location.reload(true)
            },
            error: function (xhr, errorThrown){
                console.log(xhr.responseText);
                console.log(errorThrown);
            }
          })
        }

        function drop_chart(ev) {
            ev.preventDefault();
            var data = ev.dataTransfer.getData("text")
            $.ajax({
                url: "/move/" + filename,
                data: { "Data": data, "Dest": "Graph" },
                success: function () {
                    location.reload(true)
                },
                error: function (xhr, errorThrown){
                    console.log(xhr.responseText);
                    console.log(errorThrown);
                }
              })
        }

        // Creates form1 and form2 based on fields

        var fields = {{ fields|tojson|safe }}
        for (i in fields){
            if (fields[i] == "Deadline") {
                // Form 1
                var DL_label = $("<label></label>").text("Deadline: ");
                var new_date = $("<input>").attr("type", "date").attr("name", "Deadline");
                var new_time = $("<input>").attr("type", "time").attr("name", "time").attr("required", "");
                var DL_text = $("<h2></h2>").text("Leave Deadline Fields blank for no deadline!");
                $("#input").append(DL_label, new_date, new_time, DL_text)

                // Form 2
                var DL_label2 = $("<label></label>").text("Deadline");
                var up_date = $("<input>").attr("type", "radio").attr("name", "Field").attr("value", "Deadline")
                    .attr("onclick", "change_type('date')")
                $("#before").before(up_date, DL_label2)
            }
            if (fields[i] == "Subject" || fields[i] == "Department" || fields[i] == "Notes") {
                // Form 1
                var label = $("<label></label>").text(String(fields[i]) + ": ")
                var new_in = $("<input>").attr("type", "text").attr("name", String(fields[i])).attr("value", "None");
                var space = $("<br>")
                var space_2 = $("<br>")
                $("#input").append(label, new_in, space, space_2)

                // Form 2
                var label = $("<label></label>").text(String(fields[i]))
                var up_in = $("<input>").attr("type", "radio").attr("name", "Field").attr("value", String(fields[i]))
                    .attr("onclick", "change_type('text')")
                $("#before").before(up_in, label)
            }
        }

        function change_type(new_type){
            $("#change").attr("type", new_type);
            var timeExists = document.getElementsByName("up_time");
            if (new_type == "date"){
                console.log("date")
                if (timeExists.length == 0){
                    var new_time = $("<input>").attr("type", "time").attr("name", "up_time");
                    $("#inputs").append(new_time);
                }
            } else{
                if (timeExists.length !== 0){
                    $("input[name='up_time']").remove();
                }
            }
        };
    </script>
</body>
</html>
