<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Effort-Impact V2</title>
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/EI_chart.css">
</head>
<body>
    <div id="Content">
        <div id="scatterplot">
            <script>
                var result = {{ result|tojson|safe }};
                var colors = {{ colors|tojson|safe }};
                var y_raw = {{ y|tojson|safe }};
                var x_raw = {{ x|tojson|safe }};
                var title = {{ name|tojson }};
            </script>
            <script src="/static/EI_chart.js"></script>
            <script src="/static/jQ.js"></script>
        </div>
        <div id="Info">
            <div id="table">
                <table id="task_table">
                </table>
                <table id="id_table">
                </table>
            </div>
            <div id="New">
                <form action="/new" method="post" id="form">
                    <br>
                    Task: <input type="text" name="Task" required><br><br>
                    Description: <input type="text" name="Description" required><br><br>
                    Deadline: <input type="date" name="Deadline">   <input type="time" name="time"><br><br>
                    Subject: <input type="text" name="Subject" required><br><br>
                    Notes: <input type="text" name="Notes" value="None"><br>
                    <br>
                    <h2>Leave Deadline Fields blank for no deadline!</h2>
                    <button type="submit">Submit to me!</button><button type="button" id="HideNew">Go back</button> <br>
                    <br>
                </form>
            </div>
            <div id="Update">
                <form action="/update" method="post" id="form2">
                    <h2>Change Form</h2>
                    <h3>Press the Ctrl button to delete this task!</h3>
                    <div id="inputs">
                        <br>
                        Task ID #: <input type="number" name="id" id="id" readonly><br><br>
                        <label id="field-label">Field to be Changed: </label><input type="text" id="field" name="Field"><br><br>
                        Content: <input type="text" id="change" name="Content"><br><br>
                    </div>
                    <br>
                    <button type="button" onclick="change_type('date')">Click me to change the Deadline!</button><br>
                    <br>
                    <button type="submit">Transform!</button><button type="button" id="HideUpdate">Go back</button> <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <script>
        // Changes input type of form2 Content

        function change_type(new_type){
            $("#change").attr("type", new_type);
            var new_time = $("<input>").attr("type", "time").attr("name", "up_time");
            $("#inputs").append(new_time);
            $("#field").prop("readOnly", true);
            $("#field").attr("value", "Deadline");
        };
    </script>
</body>
</html>
