<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
    <title>Effort-Impact V2</title>
    <script type="text/javascript" src="http://d3js.org/d3.v4.min.js"></script>
    <script src="https://d3js.org/d3-scale-chromatic.v1.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <link rel="stylesheet" href="/static/styles/EI_general.css">
    <link rel="stylesheet" href="/static/styles/EI_chart.css">
    <link rel="stylesheet" href="/static/styles/EI_storage.css">
    <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/redmond/jquery-ui.css">
</head>
<body>
    <div id="heading">
        <header>Current Sheet: {{ file }}
            <form action="/index" method="get" id="logout">
                    <button type="submit" id="logout-button">Logout</button>
            </form>
        </header>
    </div>
    <div id="Content">
        <div id="scatterplot" class="container">
        </div>
        <div id="Info" class="container">
            <div id="show-bar">
                <button class="menu" id="add_new">Add New Task</button>
                <button class="menu" id="list">Show All</button>
                <button class="menu" id="download_file">Download</button>
                <button class="menu" id="instr_show">Show Instructions</button>
            </div>
            <div id="Instructions" class="info_div">
<!--                <a href="/download/{{ file }}"><h2 id="download">Download Task Files</h2></a>-->
                <h1>Controls</h1>
                <h2>Hover with the mouse</h2>
                <p>Hover over squares in the graph to view their task information. If using the Deadline, Subject, or Department field, hover
                over the color scale to see the corresponding values.</p>
                <h2>Click with the mouse</h2>
                <p>Click a square in the graph or in storage to bring up a form to change a certain field of the corresponding task.
                If your sheet has any combination of Deadline, Subject, or Department, clicking the color scale will change scales.</p>
                <p>Click on the Add New Task button to add a new task to the chart.</p>
                <p>Click on the Show All button to show a list of all tasks on the chart. NOTE: The number value for
                each tasks corresponds to the order in which tasks were added to the chart</p>
                <p>Double click inside the Unassigned box to add a new unassigned task.</p>
                <p>Clicking the "Download" button will download a CSV containing all tasks. NOTE: The Task_ID field in
                this file corresponds to the order in which tasks were added to the table.</p>
                <h2>Drag with the mouse</h2>
                <p>Click, hold, and drag a square anywhere on the graph to change its position. When dragged outside the
                graph, a "clone" appears that allows dragging to the Completed or Unassigned lists.
                Click, hold, and drag a task in the Completed or Unassigned lists to move it from one to the other or onto the graph.</p>
                <h2>Button Press</h2>
                <p>When editing a square, the Delete button can be pressed to delete the square and all
                of its information.</p>
                <br>
            </div>
            <div id="task_div" class="info_div">
                    <table id="task_table">
                    </table>
            </div>
            <div id="id_div" class="info_div">
                <br>
                <form>
                    <input id="Task_check" type="radio">Task
                    <input id="Desc_check" type="radio"> Description
                </form>
                <table id="id_table">
                </table>
            </div>
            <div id="New" class="info_div">
                <form action="/new/{{ file }}" method="post" id="form">
                    <br>
                    <h2>New Task Form</h2>
                    <br>
                    <div id="input">
                        Task: <input type="text" name="Task" required autocomplete="off"><br><br>
                        Description: <textarea id="desc" name="Description" required>None</textarea><br><br>
                        <input type="hidden" name="sheet" id="sheet" value="Graph">
                    </div>
                    <button type="submit">Create Task</button>
<!--                    <button type="button" id="HideNew">Go back</button> <br>-->
                    <br>
                </form>
            </div>

            <div id="Update" class="info_div">
                <form action="/update/{{ file }}" method="post" id="form2">
                    <br>
                    <h2>Change Form</h2>
                    <h3>Press the Delete button to delete this task!</h3>
                    <div id="inputs">
                        <br>
                        <input type="hidden" name="id" id="id" readonly><br>
                        <label id="field-label">Field to be Changed: </label>
                        <input type="radio" value="Task" name="Field" onclick="change_type('text')" checked>Task
                        <input type="radio" value="Description" name="Field" onclick="change_type('text')">Description
                        <br id="before"><br>
                        <label>Content</label> <input type="text" id="change" name="Content" required><br><br>
                    </div>
                    <br>
                    <button type="submit">Update Task</button><br><br>
                    <button type="button" id="HideUpdate">Go back</button> <br>
                    <br>
                </form>
            </div>
        </div>
    </div>
    <div id="storage">
        <div id="Unplaced" class="container">
            <h2 style="text-decoration:underline">Unassigned</h2>
            {% for task2 in unplaced %}
            <p id="Unplaced-{{ task2['Task_ID'] }}" draggable="true" class="stored_task">
                {% for key in task2.keys() %}
                    {% if (key != "Unplaced") and (key != "Completed") and (key != "Date_Completed") and (key != "Task_ID") %}
                        <strong>{{ key }}: </strong>{{ task2[key] }}
                    {% endif %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
        <div id="Completed" class="container">
            <h2 style="text-decoration:underline">Completed</h2>
            {% for task in completed %}
            <p id="Completed-{{ task['Task_ID'] }}" draggable="true" class="stored_task">
                {% for key in task.keys() %}
                    {% if (key != "Unplaced") and (key != "Completed") and (key != "Task_ID") %}
                        <strong>{{ key }}: </strong>{{ task[key] }}
                    {% endif  %}
                {% endfor %}
            </p>
            {% endfor %}
        </div>
    </div>
    <script>
        var result = {{ result|tojson|safe }};
        var dl_colors = {{ dl_colors|tojson|safe }};
        var sj_colors = {{ sj_colors|tojson|safe }};
        var dp_colors = {{ dp_colors|tojson|safe }};
        var y_raw = {{ y|tojson|safe }};
        var x_raw = {{ x|tojson|safe }};
        var title = {{ name|tojson }};
        var fields = {{ fields|tojson|safe }};
        var filename = {{ file|tojson|safe }};
    </script>
    <script src="/static/EI_chart.js"></script>
    <script src="/static/EI_events.js"></script>
    <script src="/static/jquery-ui.min.js"></script>
    <script src="/static/jquery.ui.timepicker.js"></script>
    <script>

        // Creates form1 and form2 based on fields

        for (var i = 0; i < fields.length; i++){
            if (fields[i] == "Deadline") {
                // Form 1
                var DL_label = $("<label></label>").text("Deadline: ");
                var new_date = $("<input>").attr("type", "date").attr("name", "Deadline").attr("id", "Deadline");
                var new_time = $("<input>").attr("type", "time").attr("name", "time").attr("id", "time");
                var DL_text = $("<h2></h2>").text("Leave Deadline Fields blank for no deadline!");
                $("#input").append(DL_label, new_date, new_time, DL_text)
                check_date_time("Deadline", "time")


                // Form 2
                var DL_label2 = $("<label></label>").text("Deadline");
                var up_date = $("<input>").attr("type", "radio").attr("name", "Field").attr("value", "Deadline")
                    .attr("onclick", "change_type('date')")
                $("#before").before(up_date, DL_label2)
            }
            if (fields[i] == "Subject" || fields[i] == "Department" || fields[i] == "Notes") {
                // Form 1
                var label = $("<label></label>").text(String(fields[i]) + ": ")
                var new_in = $("<input>").attr("type", "text").attr("name", String(fields[i])).attr("value", "None").attr("autocomplete", "off");
                var space = $("<br>")
                var space_2 = $("<br>")
                $("#input").append(label, new_in, space, space_2)

                // Form 2
                var label = $("<label></label>").text(String(fields[i]))
                var up_in = $("<input>").attr("type", "radio").attr("name", "Field").attr("value", String(fields[i]))
                    .attr("onclick", "change_type('text')")
                $("#before").before(up_in, label)
            }
        }

        function check_date_time(date_id, time_id) {
              var elem = document.createElement('input');
              elem.setAttribute('type', 'date');

              if ( elem.type === 'text' ) {
                 $('#' + date_id).datepicker({
                    dateFormat: "yy-mm-dd"
                 });
                 $("#" + time_id).timepicker({
                    showDeselectButton: true,
                    defaultTime: '',
                    showCloseButton: true
                 });
              }
        };

        function change_type(new_type){
            $("#change").attr("type", new_type);
            var timeExists = document.getElementsByName("up_time");
            if (new_type == "date"){
                console.log("date")
                if (timeExists.length == 0){
                    console.log("no time")
                    var new_time = $("<input>").attr("type", "time").attr("name", "up_time").attr("id", "up_time");
                    $("#change").after(new_time);
                }
                check_date_time("change", "up_time")
            } else{
                if (timeExists.length !== 0){
                    console.log("time removed!")
                    $("input[name='up_time']").remove();
                }
            }
        };
    </script>
</body>
</html>
