<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
    <link rel="stylesheet" href="/static/index.css">
</head>
<body>
    <div id="heading">
        <h2>Welcome to the Effort-Impact Application!</h2>
    </div>
    <div id="instructions">
        <h3>Some instructions to get you started:</h3>
        <p>
            The first step to generating the Effort-Impact Matrix is selecting your task sheet. All task sheets are
            located in the Task Sheets folder within the application folder. If you do not yet have a Task sheet in the folder, you can
            click on the Create New Sheet button, which will create a new Task Sheet with a given name.
        </p><br>
    </div>
    <br>
    <br>
    <div id="choose_file">
        <form action="/chart" method="post">
            <div id="choose">
                <label>Choose Task Sheet</label><br><br>
                <input type="file" name="file"><br>
                <br>
                <button type="submit" name="action" value="submit">Submit</button><br>
            </div>
            <br>
            <div id="make">
                <br>
                <label>New Sheet Name (no extension needed)</label><br><br>
                <input type="text" name="new_name"><br><br>
                <button type="submit" name="action" value="new">Create New Sheet</button>
            </div>
        </form>
    </div>
</body>
</html>